### Project: Data Analyst - Assignment
### Author: Suhel Khan
### Code Submission Date: 13-02-2024
### Author's Contact Info: ksuhel80@gmail.com

### Reading Csv

In [573]:
# importing Libraries 
import pandas as pd
import numpy as np
pd.options.display.max_rows = 4000


df_order_report = pd.read_excel('./Company X - Order Report.xlsx')
df_order_report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [574]:
df_pincode_zones = pd.read_excel('./Company X - Pincode Zones.xlsx')
df_pincode_zones.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [575]:
df_sku_master = pd.read_excel('./Company X - SKU Master.xlsx')
df_sku_master.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [576]:
df_courier_invoice = pd.read_excel('./Courier Company - Invoice.xlsx')
df_courier_invoice.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [577]:
df_courier_rates = pd.read_excel('./Courier Company - Rates.xlsx')
df_courier_rates.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.5,23.6,13.6,23.6
1,B,1.00,33.0,28.3,20.5,28.3
2,C,1.25,40.1,38.9,31.9,38.9
3,D,1.50,45.4,44.8,41.3,44.8
4,E,2.00,56.6,55.5,50.7,55.5

In [578]:
df_order_report.dtypes

ExternOrderNo      int64
SKU               object
Order Qty        float64
dtype: object

## Adding weight column by using left join

In [579]:
df_order_report = pd.merge(df_order_report, df_sku_master[['SKU', 'Weight (g)']], on='SKU', how='left')

In [580]:
df_order_report.head()

   ExternOrderNo            SKU  Order Qty  Weight (g)
0     2001827036  8904223818706        1.0         127
1     2001827036  8904223819093        1.0         150
2     2001827036  8904223819109        1.0         100
3     2001827036  8904223818430        1.0         165
4     2001827036  8904223819277        1.0         350

### Calculating total weight

In [581]:
df_order_report['Total Weight'] = (df_order_report['Order Qty'] * df_order_report['Weight (g)'])/1000
df_order_report.head(20)

    ExternOrderNo            SKU  Order Qty  Weight (g)  Total Weight
0      2001827036  8904223818706        1.0         127         0.127
1      2001827036  8904223819093        1.0         150         0.150
2      2001827036  8904223819109        1.0         100         0.100
3      2001827036  8904223818430        1.0         165         0.165
4      2001827036  8904223819277        1.0         350         0.350
5      2001827036  GIFTBOX202002        1.0         500         0.500
6      2001827036  GIFTBOX202002        1.0         500         0.500
7      2001827036  8904223818638        2.0         137         0.274
8      2001827036     SACHETS001        1.0          10         0.010
9      2001825261  8904223819024        4.0         112         0.448
10     2001825261  8904223819291        4.0         112         0.448
11     2001825261  8904223818638        3.0         137         0.411
12     2001825261  8904223818669        1.0         240         0.240
13     2001825261     SACHETS001        1.0          10         0.010
14     2001823564  8904223819291        2.0         112         0.224
15     2001823564  8904223819031        2.0         112         0.224
16     2001823564  8904223819024        2.0         112         0.224
17     2001822466  8904223819468        2.0         240         0.480
18     2001822466  8904223819291        8.0         112         0.896
19     2001821995  8904223819130        1.0         350         0.350

### Creating a new dataset by grouping the data with Order No

In [582]:
grouped_data = df_order_report.groupby('ExternOrderNo')['Total Weight'].sum().reset_index()
grouped_data.columns = ['Order ID', 'Weight X Company']

### Creating a new dataset with left join on invoice dataset with weight

In [583]:
merged_dataset = pd.merge(df_courier_invoice, grouped_data[['Order ID', 'Weight X Company']], on='Order ID', how='left')

In [584]:
merged_dataset.head(10)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Weight X Company
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240
5,1091117229555,2001806686,0.15,121003,326502,d,Forward charges,45.4,0.240
6,1091117229776,2001806885,1.00,121003,208019,b,Forward charges,61.3,0.840
7,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,1.168
8,1091117323812,2001807186,0.50,121003,396001,d,Forward charges,45.4,0.500
9,1091117324206,2001807290,0.50,121003,711106,d,Forward charges,45.4,0.500

### Renaming Columns

In [585]:
df_pincode_zones.rename(columns={'Zone':'Zone X'},inplace=True)

In [586]:
df_pincode_zones.head()

   Warehouse Pincode  Customer Pincode Zone X
0             121003            507101      d
1             121003            486886      d
2             121003            532484      d
3             121003            143001      b
4             121003            515591      d

In [587]:
merged_dataset = pd.merge(merged_dataset, df_pincode_zones[['Customer Pincode', 'Zone X']], on='Customer Pincode', how='left')

In [588]:
merged_dataset.rename(columns={'Zone':'Zone Courier','Zone X':'Zone' },inplace=True)
merged_dataset.head(10)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone Courier,Type of Shipment,Billing Amount (Rs.),Weight X Company,Zone
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d
5,1091117229555,2001806686,0.15,121003,326502,d,Forward charges,45.4,0.240,d
6,1091117229776,2001806885,1.00,121003,208019,b,Forward charges,61.3,0.840,b
7,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,1.168,b
8,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,1.168,b
9,1091117323812,2001807186,0.50,121003,396001,d,Forward charges,45.4,0.500,d

In [589]:
df_courier_rates.columns

Index(['Zone', 'Weight Slabs', 'Forward Fixed Charge',
       'Forward Additional Weight Slab Charge', 'RTO Fixed Charge',
       'RTO Additional Weight Slab Charge'],
      dtype='object')

In [590]:
df_courier_rates['Zone'] = df_courier_rates['Zone'].str.lower()
df_courier_rates.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,a,0.50,29.5,23.6,13.6,23.6
1,b,1.00,33.0,28.3,20.5,28.3
2,c,1.25,40.1,38.9,31.9,38.9
3,d,1.50,45.4,44.8,41.3,44.8
4,e,2.00,56.6,55.5,50.7,55.5

### Created a new dataset with left join on courier rates dataset

In [591]:
merged_dataset_new = pd.merge(merged_dataset, df_courier_rates[['Zone', 'Weight Slabs','Forward Fixed Charge','Forward Additional Weight Slab Charge', 'RTO Fixed Charge',
       'RTO Additional Weight Slab Charge']], on='Zone', how='left')
merged_dataset_new.head(10)

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone Courier,Type of Shipment,Billing Amount (Rs.),Weight X Company,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d,1.5,45.4,44.8,41.3,44.8
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d,1.5,45.4,44.8,41.3,44.8
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d,1.5,45.4,44.8,41.3,44.8
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b,1.0,33.0,28.3,20.5,28.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d,1.5,45.4,44.8,41.3,44.8
5,1091117229555,2001806686,0.15,121003,326502,d,Forward charges,45.4,0.240,d,1.5,45.4,44.8,41.3,44.8
6,1091117229776,2001806885,1.00,121003,208019,b,Forward charges,61.3,0.840,b,1.0,33.0,28.3,20.5,28.3
7,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,1.168,b,1.0,33.0,28.3,20.5,28.3
8,1091117323112,2001807058,1.15,121003,140301,b,Forward charges,89.6,1.168,b,1.0,33.0,28.3,20.5,28.3
9,1091117323812,2001807186,0.50,121003,396001,d,Forward charges,45.4,0.500,d,1.5,45.4,44.8,41.3,44.8

In [592]:
merged_dataset_new.dtypes

AWB Code                                   int64
Order ID                                   int64
Charged Weight                           float64
Warehouse Pincode                          int64
Customer Pincode                           int64
Zone Courier                              object
Type of Shipment                          object
Billing Amount (Rs.)                     float64
Weight X Company                         float64
Zone                                      object
Weight Slabs                             float64
Forward Fixed Charge                     float64
Forward Additional Weight Slab Charge    float64
RTO Fixed Charge                         float64
RTO Additional Weight Slab Charge        float64
dtype: object

### calculated No of slabs

In [593]:
merged_dataset_new['No Of Slabs'] = np.ceil(merged_dataset_new['Weight X Company']/merged_dataset_new['Weight Slabs'])
merged_dataset_new.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone Courier,Type of Shipment,Billing Amount (Rs.),Weight X Company,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,No Of Slabs
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d,1.5,45.4,44.8,41.3,44.8,1.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d,1.5,45.4,44.8,41.3,44.8,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d,1.5,45.4,44.8,41.3,44.8,2.0
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b,1.0,33.0,28.3,20.5,28.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d,1.5,45.4,44.8,41.3,44.8,1.0

In [594]:
merged_dataset_new['No Of Slabs'].unique()

array([1., 2., 3.])

### Calculated fixed and RTO charges based on slabs

In [595]:
merged_dataset_new['Fixed Charge'] = merged_dataset_new['Forward Fixed Charge'] + merged_dataset_new['Forward Additional Weight Slab Charge'] * (merged_dataset_new['No Of Slabs'] - 1)

In [596]:
merged_dataset_new['Rto charges'] = merged_dataset_new['RTO Fixed Charge'] + merged_dataset_new['RTO Additional Weight Slab Charge'] * (merged_dataset_new['No Of Slabs'] - 1)

In [597]:
target_word = 'RTO'
merged_dataset_new['RTO Charge'] = merged_dataset_new['Type of Shipment'].apply(lambda x: True if target_word in x else False)

In [598]:
def custom_function(row):
    if row['RTO Charge']:
        return row['Rto charges']
    else:
        return 0

In [599]:
merged_dataset_new['Rto charges'] = merged_dataset_new.apply(custom_function,axis=1)

### calculating Expected Price of X company

In [600]:
merged_dataset_new['Expected Price'] = merged_dataset_new['Fixed Charge'] + merged_dataset_new['Rto charges']
merged_dataset_new.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone Courier,Type of Shipment,Billing Amount (Rs.),Weight X Company,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,No Of Slabs,Fixed Charge,Rto charges,RTO Charge,Expected Price
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d,1.5,45.4,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d,1.5,45.4,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d,1.5,45.4,44.8,41.3,44.8,2.0,90.2,0.0,False,90.2
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b,1.0,33.0,28.3,20.5,28.3,1.0,33.0,0.0,False,33.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d,1.5,45.4,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4

### Calculated the difference between expected price and charged price

In [601]:
merged_dataset_new['Difference in charges'] = (merged_dataset_new['Billing Amount (Rs.)'] - merged_dataset_new['Expected Price']).round(3)
merged_dataset_new.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone Courier,Type of Shipment,Billing Amount (Rs.),Weight X Company,Zone,...,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,No Of Slabs,Fixed Charge,Rto charges,RTO Charge,Expected Price,Difference in charges
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d,...,45.4,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,89.6
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d,...,45.4,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,44.8
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d,...,45.4,44.8,41.3,44.8,2.0,90.2,0.0,False,90.2,134.4
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b,...,33.0,28.3,20.5,28.3,1.0,33.0,0.0,False,33.0,28.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d,...,45.4,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,0.0

### Dropped all the duplicates caused due to left joins

In [517]:
merged_dataset_new = merged_dataset_new.drop_duplicates(ignore_index=True)

In [521]:
merged_dataset_new['Weight slab charged by Courier Company (KG)'] = merged_dataset_new['Weight Slabs']

In [522]:
merged_dataset_new.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone Courier,Type of Shipment,Billing Amount (Rs.),Weight X Company,Zone,...,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,No Of Slabs,Fixed Charge,Rto charges,RTO Charge,Expected Price,Difference in charges,Weight slab charged by Courier Company (KG)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d,...,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,89.6,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d,...,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,44.8,1.5
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d,...,44.8,41.3,44.8,2.0,90.2,0.0,False,90.2,134.4,1.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b,...,28.3,20.5,28.3,1.0,33.0,0.0,False,33.0,28.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d,...,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,0.0,1.5

### Renamed all the columns as per the requirement

In [520]:
merged_dataset_new.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'Zone Courier', 'Type of Shipment',
       'Billing Amount (Rs.)', 'Weight X Company', 'Zone', 'Weight Slabs',
       'Forward Fixed Charge', 'Forward Additional Weight Slab Charge',
       'RTO Fixed Charge', 'RTO Additional Weight Slab Charge', 'No Of Slabs',
       'Fixed Charge', 'Rto charges', 'RTO Charge', 'Expected Price',
       'Difference in charges'],
      dtype='object')

In [526]:
merged_dataset_new.rename(columns={'Charged Weight':'Total weight as per Courier Company (KG)','Weight X Company':'Total weight as per X (KG)','Weight Slabs':'Weight slab as per X (KG)','Zone':
    'Delivery Zone as per X','Zone Courier':'Zone charged by Courier Company','Expected Price':'Expected Charge as per X (Rs.)','Billing Amount (Rs.)':'Charges Billed by Courier Company (Rs.)','Difference in charges':'Difference Between Expected Charges and Billed Charges (Rs.)'
    },inplace=True)

In [531]:
merged_dataset_new.rename(columns={'AWB Code':'AWB Number','Zone charged by Courier Company':'Delivery Zone charged by Courier Company'},inplace=True)

In [532]:
merged_dataset_new.head()

,AWB Number,Order ID,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Total weight as per X (KG),Delivery Zone as per X,...,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,No Of Slabs,Fixed Charge,Rto charges,RTO Charge,Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.),Weight slab charged by Courier Company (KG)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.302,d,...,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,89.6,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,0.615,d,...,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,44.8,1.5
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.265,d,...,44.8,41.3,44.8,2.0,90.2,0.0,False,90.2,134.4,1.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,0.700,b,...,28.3,20.5,28.3,1.0,33.0,0.0,False,33.0,28.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.240,d,...,44.8,41.3,44.8,1.0,45.4,0.0,False,45.4,0.0,1.5

### Created a new dataset as per result csv and exported it excel file

In [533]:
df_result = merged_dataset_new[['Order ID','AWB Number','Total weight as per X (KG)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Charges Billed by Courier Company (Rs.)','Difference Between Expected Charges and Billed Charges (Rs.)']]

In [534]:
df_result.head()

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806232,1091117222124,1.302,1.5,1.30,1.5,d,d,45.4,135.0,89.6
1,2001806273,1091117222194,0.615,1.5,1.00,1.5,d,d,45.4,90.2,44.8
2,2001806408,1091117222931,2.265,1.5,2.50,1.5,d,d,90.2,224.6,134.4
3,2001806458,1091117223244,0.700,1.0,1.00,1.0,b,b,33.0,61.3,28.3
4,2001807012,1091117229345,0.240,1.5,0.15,1.5,d,d,45.4,45.4,0.0

In [535]:
df_result.to_excel('Result.xlsx', index=False)

## Calculated the count and total of difference based on correctly Charged, Undercharged, Overcharged

In [536]:
def custom_function_new(row):
    if row['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0:
        return 1
    elif row['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0:
        return 0
    else:
        return -1

In [537]:
merged_dataset_new['Profit'] = merged_dataset_new.apply(custom_function_new,axis=1)

In [542]:
merged_dataset_new.groupby('Profit').size()

Profit
-1      2
 0      8
 1    114
dtype: int64

In [543]:
merged_dataset_new.groupby('Profit').sum()

,AWB Number,Order ID,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Total weight as per X (KG),Delivery Zone as per X,...,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,No Of Slabs,Fixed Charge,Rto charges,RTO Charge,Expected Charge as per X (Rs.),Difference Between Expected Charges and Billed Charges (Rs.),Weight slab charged by Courier Company (KG)
Profit,,,,,,,,,,,,,,,,,,,,,
-1,2182242197518,4003630727,0.80,242006,347313,bb,Forward chargesForward charges,66.0,0.959,ee,...,111.0,101.4,111.0,2.0,113.2,0.0,0,113.2,-47.2,4.0
0,8728938630502,16014459932,3.15,968024,3815942,dddddbeb,Forward chargesForward chargesForward chargesF...,428.6,3.356,dddddbeb,...,336.1,298.2,336.1,9.0,377.9,50.7,1,428.6,0.0,11.5
1,124387478881758,228206442321,114.60,13794342,41157266,dddbbbbdbdddbdbdbddedbddddbddbddddbdbbddddbbdd...,Forward chargesForward chargesForward chargesF...,13153.6,84.161,dddbbbbdbdddbdbdbddedbddddbddbddddbdbbddddbbdd...,...,3879.5,3144.2,3879.5,132.0,4901.2,556.7,14,5457.9,7695.7,134.5